<div class="search_results">
<ul>
  <li><h4><%= patient.fname %> <%= patient.lname %></h4></li>
  <li>Patient ID: <%= patient.patient_id %></li>
  <li>DOB: <%= patient.date_of_birth%></li>
</ul>
</div>