<h4>Results</h4>

<% if @results %>
   
<h2><span class="label label-default"> <%= @results.count('id', :distinct => true) %></span> Results Found</h2>
<%= link_to "Download CSV", searches_path({:format => :csv}.merge(params)),  :class => "btn btn-success no-underline" %>

<%= params[1] %>
<% end %>




